/* theme color */
:root{
--primary-color:#16B3AC;
--primary-color-white:#86EAE5;
--secondary-color:#d2dc02ff;
--main-padding:10px 30px;
}

*, *::before,*::after{
  box-sizing: border-box;
}

html{
  width: 100%;
  height: 100%;
}

.carousel-caption{
  height: 150px;
}

.carousel-image-body{
  overflow: hidden;
  height: 90px;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

a{
  color: #16B3AC;
}
a:hover{
  text-decoration: none;  
  color: #16B3AC;
}

button[disabled]{
  display: none;
}

.infobar{
  height: 20px;
  font-size: 14px;
  display: flex;
  box-sizing: content-box;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #16B3AC;
  color: white;
  padding: 5px 10px 5px 30px;
}
.info{
  max-width:80%;
  max-height: 34px;
}

.infologo{
  display: flex;
  float: left;
  width: 50px;
  font-weight: bold;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}

.infocontent{
  max-width:fit-content ;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-clock{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
  color: whitesmoke; 
}
.topbar{
  z-index: 11;
}
.menubar{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 30px;
  position: relative;
}
.menubar::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #d6d6d6 none repeat scroll 0 0;
}
.logobar{
  width: auto;
  object-fit: scale-down;
  padding: 0;
}
nav .menulist{
  width: auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: visible;
  padding: 0 0;
  margin: 0;
  
}
.vertical-line{ 
  margin: 0 40px;
  height: 80%;
  width: 1px;
  background: #d6d6d6 none repeat scroll 0 0;
}

nav .menulist li{
  box-sizing: border-box;
  padding: 10px 10px 10px 0;
  font-style: bold;
  font-weight: bold;
  font-size: 16px;
  color: #7B7B7B;
  text-transform: uppercase;
}

.carousel-image{
  width: 100%;
  height: 524px;
  object-fit: cover;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  background-color: #e7e7e7;
}

.carousel-image-caption{  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 150px;
  padding: 5px 20px;
  border: 1px solid #16B3AC;
}
.carousel-image-caption::before{
  content: '';
  display: block;
  position: absolute;
  width: 101%;
  height: 50vh;
  left: -2px;
  top: 13%;
  z-index: -1;
  background-color: #16B3ACEE;
  

}
.carousel-image-title{
  font-weight: bold;
}
.toolbar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.toolbar a{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 171px;
  padding-bottom: 50px;
  font-weight: bold;
  color: #16B3AC;
}
.toolbar a::after{
  content: '';
  position: relative;
  height: 171px;
  width: 1px;
  margin-left: 40px;
  top: 50px;
  background: #d6d6d6 none repeat scroll 0 0;
}

.toolbar a:link{
  text-decoration: none;
  color: #16B3AC;
}

.toolbar a:hover{
  background:#E5F5F5;
  text-decoration: none;
  color: #16B3AC;

}
.footer{
  width: 100%;
  bottom: 0;
}
.footerbar{
  width: 100%;
  height: 182px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #16B3AC;
  padding: 0px 30px;
  box-sizing: border-box;
  margin: 0;
}

.footerbar .logobar{
  width: 100%;
}
.copyrightbar{
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #16B3AC;
  font-weight: bold;
  font-size: 12px;
}

p{
  margin: 0;
  padding: 0;
}
.infocontact{
  text-align: left;
  width: 100%;
}
.infocontact h6{
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #86EAE5;
}

.infocontact p{
  font-size: 12px;
  font-weight: bold;
  color: white; 
  margin-bottom: 10px;
}
.sosmedbar{
  width: 100%;
}

.sosmedbar h6{
  font-size: 12px;
  font-weight: bold;
  color: white; 
}
.sosmedbar a{
  margin: 0 10px;
}

.megamenu > a {
  color: #7B7B7B;
  padding: 38px 5px;
  display: flex;
  justify-self: start;
  align-items: center;
  position: relative;
  height: 100px;
  text-align: left;
}

.megamenu:hover > a {
  text-decoration: none;
  color: #16B3AC;
}
.megamenu > a span{
  display: block;
  height: 3px;
  width: 0px;
  position: absolute;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  background: #16B3AC ;
}

.megamenu:hover > a span{
  visibility: visible;
  width: 45px;
  opacity: 1;
  transition: all ease 0.3s;
}

.megamenu:hover .megamenu-content{
  display: block;
}

.megamenu-content{
  display: none;
  background-color:#e1e6ea ;
  background-repeat:no-repeat ;
  background-position: right;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  max-height: 80vh;
  padding: 30px;
  transform-style: preserve-3d;
}

.megamenu-content::after{
  content: '';
  background-color:#6ba8a5 ;
  background-repeat:no-repeat ;
  background-position: right;
  position: absolute;
  opacity: 0.7;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transform: translateZ(-1px);
  pointer-events: none;
}
.megamenu .fa{
  margin-right: .5rem;
}
.megamenu-content-name {
  float: left;
  font-size: 24px;
  font-weight: bold;
  color: #16B3AC;
  text-align: right;
  padding: 0 38px 10px 38px;
  width: 404px;
}

.megasubmenu-column1{
  position: relative;
  float: left;
  text-align: left;
  display: grid;
}
.megasubmenu-column1 a{
  text-transform: capitalize;  
  color:#5c9c99;
  margin-right: 30px;
  width: max-content;
  white-space: nowrap;
  line-height: 2em;
  float: left;
}

.megasubmenu-column2{
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  height: 0;
  position: relative;
  float: left;
  padding:0 20px;
  text-align: left;
  transition: all ease-out 0.5s;
  position: absolute;
    left: 100%;
    height: 100%;
    top: 0;
}

.megasubmenu-column3{
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  height: 0;
  position: relative;
  float: left;
  padding:0 20px;
  text-align: left;
  transition: all ease-out 0.5s;
  position: absolute;
    left: 100%;
    height: 100%;
    top: 0;

}

.megasubmenu-column1 a:hover{
  color: #16B3AC;
}

.megasubmenu-column2 a{
  font-size: 13px;
  color: #7B7B7B;
}

.megasubmenu-column1 li{
  min-height: 30px;
}

.megasubmenu-column1 > li:hover .megasubmenu-column2{
  display: block;
  visibility: visible;
  /* height: auto; */
  opacity: 1;
  transition: all ease-in-out 0.5s;
}

.megasubmenu-column2 > li:hover .megasubmenu-column3{
  display: block;
  visibility: visible;
  /* height: auto; */
  opacity: 1;
  transition: all ease 0.5s;
}

.vertical-line-left::before{
  content: '';
  display: block;
  background: #ccc;
  width: 1px;
  height: 100%;
  position: absolute;
  left: 0;
  top:0; 
}
ul{
  list-style: none;
}

.bodier{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  flex-grow: 2;
}

.pagethumbnail{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.content{
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  flex-grow: 1;
  min-width: 380px;
}

.content-title{
  text-align: left;
  color: #222;
  font-weight: 700;
  margin: 0px 0px 30px 0px;
}
.content-container{
  text-align: left;
  flex-grow: 1;
  padding: var(--main-padding);
  overflow-y: auto;
}

.breadcrumb{
  padding-left:30px ;
}

.breadcrumb-item a{
  color: #7B7B7B;
}

.breadcrumb-item.active a {
  color: #5c9c99;
}

.breadcrumb-item  a:hover {
  color: #16B3AC;
}

.login{

  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.login .card{
  width: 280px;
}

.form-group{
  margin: 1rem 1rem;
  position: relative;
}
.alert{
  padding: .25rem 1.25rem;
}

.btn-primary{
  background-color:var(--primary-color);
  border-color:var(--primary-color);
}

.btn-info{
  margin-top: 1em;
  margin-bottom: 1em;
}
.form-group .spinner-border{
  position: absolute;
  top: 30%;
  right:5%;
}

.post-container{
  padding: var(--main-padding);
  text-align: left;
  display: grid;
  grid-template-rows: auto 1fr;
}
.post-thumbnail{
  display: block; 
  width: 100%;
  max-height:150px;
  text-align: center;
  object-fit: cover;
}
.post-head{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.post-title{
  font-size: 30pt;
  font-weight: 600;
}
.post-pdf{
  display: block;
  text-align: left;
  font-size: large;
  margin-top: 10px;
}

.post-pdf a{
  margin: 10px;
}

.chart1{
    height: 400px;
    width: 300px;
}
.chart2{
    height: 310px;
    width: 300px;
}

.form-group{
  margin: 1em 0;
}
.feedback{
  display: block;
  width: 100%;
  font-size: 80%;
  margin-top: .25rem;
  color: #7B7B7B;
}

.admin-header{
  background: var(--primary-color);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  z-index: 999;
  width: 100%;
  min-width: 380px;
  height: 50px;
}
.admin-header .admin-logo{
  color:#fff;
  height: 30px;
  flex-grow: 2;
  text-align: left;
  padding-left:10px;
}
.admin-side-nav{
  text-align: left;
  /* position: absolute;
  top: 100%; */
  min-height: 94vh;
  /* left: 0; */
  min-width: 250px;
  background: var(--primary-color);
  color: var(--primary-color-white);
  overflow-x: hidden;
  overflow-y: auto;
  transition: margin 400ms ease-in-out;
}

.admin-side-nav ul{
  margin: 0;
  padding: 0;
  padding-left: 2em;
  font-size: small;
  font-weight: 800;
}

label{
  margin: 0;
}


.admin-side-nav a{
  display: block;
  text-decoration: none;
  color: var(--primary-color-white);
}

.admin-side-nav ul{
  opacity: 1;
  transition: opacity 150ms ease-in-out;
}

.admin-side-nav a,
.admin-side-nav label{
  padding: 1em 2em 1em 0;
  text-transform: uppercase;
}

.admin-side-nav li ul li a{
  height: 0;
  padding: 0 1em 0 0;
  transform: scale(1,0);
}

.admin-side-nav li li a{
  text-transform: capitalize;
}


nav li a:hover,
nav li label:hover,
.admin-side-nav a.active {
  color: white;
}

.nav-toggle{
  display: none;
}

.nav-toggle-label{
  margin-left: 1em;
  height: 100%;
  display: none;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
  display: block;
  background: white;
  height: 2px;
  width: 1.6em;
  border-radius: 2px;
  position: relative;
  transform: rotateY(40deg);
  transition: transform 250ms ease-in-out;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
  content: '';
  position: absolute;
}

.nav-toggle-label span::before{
  bottom: 7px;

}

.nav-toggle-label span::after{
  top: 7px;
}

.admin-header .side-nav-open{
  margin-left:0;
}



.nav-toggle:checked ~ .nav-toggle-label span,
.nav-toggle:checked ~ .nav-toggle-label span::before,
.nav-toggle:checked ~ .nav-toggle-label span::after{
  transform: rotateY(180deg);
  transition: transform 250ms ease-in-out;
}

.ul-toggle{
  display: none;
}


input[type="checkbox"]:checked ~ ul li a{
  display: block;
  height: auto;
  opacity: 1;
  padding: 1em 1em 1em 0;
  transform: scale(1,1);
}

label{
  display: flex;
  white-space: nowrap;
}

.admin-footer{
  width: 100%;
}
.copyrightbar{
  display: block;
  position: relative;
  text-align: right;
  padding: 1em 1em;
}

.post-card-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.post-card{
  margin-right:20px;
  margin-bottom:10px;
}

.post-card .card-img-top
{
  background-color: var(--primary-color-white);
  height: 150px;
  object-fit: cover;
}
.post-card .card-text{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 10px;
  max-height: 100px;
}

.dashboard .post-card-container{
    justify-content: center;
}

.dashboard .card{
    height: 200px;
    background-color: var(--primary-color);
    border: none;
    color: white;
    margin:0 15px 15px 0;
}
.dashboard h5{
    display: block;
    text-align: center;
    font-weight: bold;
}

.dashboard .card-body{
    display: grid;
    padding: 0px;
    margin: 0px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.dashboard .card-title{
    grid-column: 1/3;
    padding: 20px 10px;
    align-self: center;
    margin: 0;
}

.dashboard .counter{
    font-size: 100px;
    font-weight: bold;
    line-height: 1em;
    padding: 0;
    margin: 0;
    justify-self: flex-start;
}



.dashboard .card-text{
    font-size: 20px;
    align-self: center;
}
th{
    white-space: nowrap;
}
@media (max-width:992px){

    .logobar{
      width: 100%;
      max-height: 100px ;
    }
    
    .nav-toggle-label{
        display: flex;
    }
    
    .admin-side-nav{
        margin-left:-250px;
        position: absolute;
        left: 0;
    }

    .admin-side-nav ul{
        opacity: 0;
        transition: opacity 150ms ease-in-out;
      }
    .side-nav-open{
        margin-left:0;
    }
    .side-nav-open ul{
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }
    .app-clock{
        display: none;
    }

    .admin-header .admin-logo{
        text-align: center;
    }

  .footerbar{
    height: fit-content;
  }
  .infocontact{
    text-align: center;
    width: 100%;
  }
  .vertical-line{
    display: none;
  }

  .footerbar .logobar{
    margin: 10px 0px;
  }

  .footerbar .infocontact{
    margin-bottom: 10px;
  }

  .footerbar .sosmedbar{
    margin-bottom: 10px;
  }

  .copyrightbar{
    margin: 10px 0px;
  }
  
}